.sidebar {
   background: #fff;
   width: 15%;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   padding-left: 2%;
   padding-top: 80px;
   overflow-y: auto;
   transition: color 0.3s ease, transform 0.3s ease;
}

.shortcut-links img {
   width: 20px;
   margin-right: 20px;
}

.side-link {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
   width: fit-content;
   flex-wrap: wrap;
   cursor: pointer;
   transition: color 0.3s ease, transform 0.3s ease;
}

.side-link:hover {
   transform: scale(1.1);
}

.side-link p {
   font-size: 14px;
}

.side-link.active p {
   font-weight: bold;
}

hr {
   border: 0;
   height: 1px;
   background: #ccc;
   width: 85%;
}

.subscribed-list h3 {
   font-size: 13px;
   margin: 20px 0;
   color: #5a5a5a;
}

.subscribed-list img {
   width: 25px;
   border-radius: 50%;
   margin-right: 20px;
}

.small-sidebar {
   width: 5%;
}

.small-sidebar p,
.small-sidebar h3 {
   display: none;
}

.small-sidebar hr {
   width: 50%;
   margin-bottom: 20px;
}

.side-link.active img {
   padding-bottom: 2px;
   border-bottom: 3px solid #ff0000;
   transform: scale(1.2);
}

/*  Customize scrollbar appearance */
.sidebar::-webkit-scrollbar {
   width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
   background: #ccc;
   border-radius: 4px;
   transition: background 0.3s ease;
}

.sidebar::-webkit-scrollbar-thumb:hover {
   background: #aaa;
}

@media (max-width: 900px) {
   .sidebar {
      display: none;
   }
}